swagger: "2.0"
info:
  title: Redbud Way API
  description: API description in Markdown.
  version: 1.0.0
host: redbudway.com
basePath: /v1
schemes:
  - http

consumes:
  - application/json
produces:
  - application/json

securityDefinitions:  
   Bearer:    
     type: apiKey    
     name: Authorization    
     in: header

paths:
  /location:
    get:
      parameters:
        - in: query
          name: latitude
          type: string
          required: true
        - in: query
          name: longitude
          type: string
          required: true
      responses:
        '200':
          description: City and State of end user
          schema:
            type: object
            properties:
              city:
                type: string
              state:
                type: string
  /forgot-password:
    get:
      parameters:
        - in: query
          name: email
          type: string
          required: true
        - in: query
          name: accountType
          type: string
          required: true
      responses:
        '200':
          description: Forgot password
  /reset-password:
    post:
      parameters:
        - in: body
          name: user
          schema:
            type: object
            required:
              - accountType
              - password
              - token
              - userId
            properties:
              accountType:
                type: string
              password:
                type: string
              token:
                type: string
              userId:
                type: string
      responses:
        '200':
          description: Update password
          schema:
            type: object
            properties:
              updated:
                type: boolean
                x-omitempty: false
  /tradesperson/login:
    post:
      parameters:
        - in: body
          name: tradesperson
          description: Log in to tradesperson account.
          schema:
            type: object
            required:
              - email
              - password
            properties:
              email:
                type: string
                format: email
              password:
                type: string
      responses:
        '200':
          description: Valid email and password
          schema:
            type: object
            properties:
              valid:
                type: boolean
                x-omitempty: false
              tradespersonId:
                type: string
              accessToken:
                type: string
              refreshToken:
                type: string
  /tradesperson/{tradespersonId}/logout:
    post:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          description: Tradesperson ID
          required: true
          type: string
      responses:
        '200':
          description: Log tradesperson out
          schema:
            type: object
            properties:
              loggedOut:
                type: boolean
                x-omitempty: false
  /tradesperson:
    post:
      parameters:
        - in: body
          name: tradesperson
          description: The tradesperson to create.
          schema:
            type: object
            required:
              - name
              - email
              - password
              - number
              - address
            properties:
              name:
                type: string
              description:
                type: string
              email:
                type: string
                format: email
              password:
                type: string
                format: password
              number:
                type: string
              address:
                $ref: '#/definitions/Address'
      responses:
        '201':
          description: Created tradesperson account
          schema:
            type: object
            properties:
              created:
                type: boolean
                x-omitempty: false
              url:
                type: string
              tradespersonId:
                type: string
              accessToken:
                type: string
              refreshToken:
                type: string
  /tradesperson/{tradespersonId}:
    get:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          description: Tradesperson ID
          required: true
          type: string
      responses:
        '200':
          description: A tradesperson
          schema:
            $ref: '#/definitions/Tradesperson'
    put:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        required: true
        type: string
      - in: body
        name: tradesperson
        description: The tradesperson to update.
        schema:
          type: object
          properties:
            image:
              type: string
            description:
              type: string
      responses:
        '200':
          description: Updates tradesperson profile
          schema:
            type: object
            properties:
              updated:
                type: boolean
                x-omitempty: false
    delete:
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      responses:
        '200':
          description: Deletes tradesperson account
          schema:
            type: object
            properties:
              deleted:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/access-token:
    get:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          description: Tradesperson ID
          required: true
          type: string
      responses:
        '200':
          description: A valid tradesperson accessToken
          schema:
            type: object
            properties:
              valid:
                type: boolean
                x-omitempty: false
    post:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          description: Tradesperson ID
          required: true
          type: string
      responses:
        '200':
          description: Valid email and password
          schema:
            type: object
            properties:
              refreshToken:
                type: string
              accessToken:
                type: string
  /tradesperson/{tradespersonId}/email:
    post:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          description: Tradesperson ID
          required: true
          type: string
        - in: body
          name: email
          description: The email request to send to tradesperson.
          schema:
            type: object
            required:
              - message
              - customerId
            properties:
              message:
                type: string
              priceId:
                type: string
              quoteId:
                type: string
              customerId:
                type: string
              images:
                type: array
                items:
                  type: string
      responses:
        '200':
          description: Email sent to tradesperson
          schema:
            type: object
            properties:
              sent:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/settings:
    get:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          description: Tradesperson ID
          required: true
          type: string
      responses:
        '200':
          description: A tradesperson settings
          schema:
            type: object
            properties:
              vanityURL:
                type: string
                x-omitempty: false
              displayEmail:
                type: boolean
                x-omitempty: false
              displayNumber:
                type: boolean
                x-omitempty: false
              displayAddress:
                type: boolean
                x-omitempty: false
    put:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        required: true
        type: string
      - in: body
        name: settings
        description: The tradesperson settings to update.
        schema:
          type: object
          properties:
            vanityURL:
              type: string
            displayEmail:
              type: boolean
              x-omitempty: false
            displayNumber:
              type: boolean
              x-omitempty: false
            displayAddress:
              type: boolean
              x-omitempty: false
      responses:
        '200':
          description: Updates tradesperson profile
          schema:
            type: object
            properties:
              updated:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/status:
    get:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          description: Tradesperson ID
          required: true
          type: string
      responses:
        '200':
          description: Status of tradesperson stripe account
          schema:
            type: object
            properties:
              enabled:
                type: boolean
                x-omitempty: false
              submitted:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/password:
    put:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        required: true
        type: string
      - in: body
        name: tradesperson
        description: The tradesperson password to update.
        schema:
          required:
            - curPassword
            - newPassword
          type: object
          properties:
            curPassword:
              type: string
            newPassword:
              type: string
      responses:
        '200':
          description: Tradeperson password updated
          schema:
            type: object
            properties:
              updated:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/login-link:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      responses:
        '200':
          description: Stripe login link to dashboard
          schema:
            type: object
            properties:
              url:
                type: string
  /tradesperson/{tradespersonId}/onboard:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      responses:
        '200':
          description: Stripe onboarding URL
          schema:
            type: object
            properties:
              url:
                type: string
  /tradesperson/{tradespersonId}/schedule:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      responses:
        '200':
          description: Stripe onboarding URL
          schema:
            type: array
            items:
              type: object
              properties:
                title:
                  type: string
                subscription:
                  type: boolean
                  x-omitempty: false
                interval:
                  type: string
                price:
                  type: number
                  format: double
                timeSlots:
                  type: array
                  items:
                    type: object
                    properties:
                      startTime:
                        type: string
                      segmentSize:
                        type: number
                        format: double
                      taken:
                        type: boolean
                        x-omitempty: false
                      takenBy:
                        type: string
                      customer:
                        $ref: '#/definitions/Customer'
  /tradesperson/{tradespersonId}/time-slots:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      responses:
        '200':
          description: Service time slots
          schema:
            type: array
            items:
              type: object
              properties:
                subscription:
                  type: boolean
                  x-omitempty: false
                interval:
                  type: string
                timeSlots:
                  type: array
                  items:
                    type: object
                    properties:
                      startTime:
                        type: string
                      segmentSize:
                        type: string
                      taken:
                        type: boolean
                        x-omitempty: false
                      takenBy:
                        type: string
  /tradesperson/{tradespersonId}/fixed-prices:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: query
        name: page
        required: true
        type: number
        format: int64
      responses:
        '200':
          description: Tradesperson fixed-price services
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  /tradesperson/{tradespersonId}/fixed-price/pages:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      responses:
        '200':
          description: Number of fixed price pages
          schema:
            type: number
            format: int64
  /tradesperson/{tradespersonId}/fixed-price:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        required: true
        type: string
      - in: body
        name: fixedPrice
        description: The fixedPrice to create.
        schema:
          $ref: '#/definitions/ServiceDetails'
      responses:
        '201':
          description: Created fixed-price
          schema:
            type: object
            properties:
              created:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/fixed-price/{priceId}:
    get:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          required: true
          type: string
        - in: path
          name: priceId
          required: true
          type: string
      responses:
        '200':
          description: Tradesperson fixed-price services
          schema:
            type: object
            properties:
              fixedPrice:
                $ref: '#/definitions/ServiceDetails'
              otherServices:
                $ref: '#/definitions/OtherServices'
    put:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          required: true
          type: string
        - in: path
          name: priceId
          required: true
          type: string
        - in: body
          name: fixedPrice
          description: The fixedPrice to update.
          schema:
            $ref: '#/definitions/ServiceDetails'
      responses:
        '200':
          description: Updated fixed-price
          schema:
            type: object
            properties:
              updated:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/fixed-price/review:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: body
        name: review
        description: The response to a review.
        schema:
          type: object
          required:
            - response
            - reviewId
          properties:
            response:
              type: string
            reviewId:
              type: integer
              format: int64
      responses:
        '200':
          description: Response to review
          schema:
            type: object
            properties:
              responded:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/fixed-price/reviews:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      responses:
        '200':
          description: Fixed-price reviews
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  format: int64
                rating:
                  type: integer
                message:
                  type: string
                date:
                  type: string
                customer:
                  type: string
  /tradesperson/{tradespersonId}/quotes:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: query
        name: page
        required: True
        type: number
        format: int64
      responses:
        '200':
          description: Tradesperson fixed-price services
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  /tradesperson/{tradespersonId}/quote/pages:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      responses:
        '200':
          description: Number of quote pages
          schema:
            type: number
            format: int64
  /tradesperson/{tradespersonId}/quote:
    post:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          required: true
          type: string
        - in: body
          name: quote
          description: The quote to create.
          schema:
            $ref: '#/definitions/ServiceDetails'
      responses:
        '201':
          description: Created quote
          schema:
            type: object
            properties:
              created:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/quote/{quoteId}:
    get:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          required: true
          type: string
        - in: path
          name: quoteId
          type: string
          required: true
      responses:
        '200':
          description: Tradesperson fixed-price services
          schema:
            $ref: '#/definitions/ServiceDetails'
    put:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          required: true
          type: string
        - in: path
          name: quoteId
          type: string
          required: true
        - in: body
          name: quote
          description: The quote to create.
          schema:
            $ref: '#/definitions/ServiceDetails'
      responses:
        '200':
          description: Created quote
          schema:
            type: object
            properties:
              updated:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/quote/review:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: body
        name: review
        description: The response to a review.
        schema:
          type: object
          required:
            - response
            - quoteId
          properties:
            response:
              type: string
            quoteId:
              type: integer
              format: int64
      responses:
        '200':
          description: Response to review
          schema:
            type: object
            properties:
              responded:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/quote/reviews:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      responses:
        '200':
          description: Quote reviews
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  format: int64
                customer:
                  type: string
                rating:
                  type: integer
                message:
                  type: string
                date:
                  type: string
  /tradesperson/{tradespersonId}/billing/customer/{stripeId}/subscriptions:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: stripeId
        description: Customer stripe ID
        required: true
        type: string
      responses:
        '200':
          description: Customer subscriptions
          schema:
            type: object
            properties:
              name:
                type: string
              address:
                $ref: '#/definitions/Address'
              email:
                type: string
              phone:
                type: string
              subscriptions:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type: string
                    interval:
                      type: string
                    description:
                      type: string
                    total:
                      type: integer
                      format: int64
                    details:
                      type: array
                      items:
                        type: object
                        properties:
                          subscriptionId:
                            type: string
                          invoiceId:
                            type: string
                          status:
                            type: string
                          timeSlots:
                            type: array
                            x-omitempty: false
                            items:
                              $ref: '#/definitions/TimeSlot'
  /tradesperson/{tradespersonId}/billing/customer/{stripeId}/subscriptions/cancel:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: stripeId
        description: Customer stripe ID
        required: true
        type: string
      - in: body
        name: subscriptions
        description: The subscriptions to cancel.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Canceled customer subscription
          schema:
            type: object
            properties:
              canceled:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/customer/{stripeId}/subscription/{subscriptionId}/invoice/{invoiceId}:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: stripeId
        description: Customer stripe ID
        required: true
        type: string
      - in: path
        name: subscriptionId
        description: Subscription ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: Latest invoice
          schema:
            type: object
            properties:
              interval:
                type: string
              created:
                type: integer
                format: int64
              description:
                type: string
              total:
                type: integer
                format: int64
              status:
                type: string
              refunded:
                type: integer
                format: int64
              number:
                type: string
              url:
                type: string
              pdf:
                type: string
              timeSlot:
                $ref: '#/definitions/TimeSlot'
              service:
                type: object
                properties:
                  title:
                    type: string
                  description:
                    type: string
              customer:
                $ref: '#/definitions/Customer'
  /tradesperson/{tradespersonId}/billing/customer/{stripeId}/subscription/{subscriptionId}/invoice/{invoiceId}/refund:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: stripeId
        description: Customer stripe ID
        required: true
        type: string
      - in: path
        name: subscriptionId
        description: Subscription ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: Refunded subscription
          schema:
            type: object
            properties:
              refunded:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/invoices:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: query
        name: quarter
        description: Quarter of the year
        required: true
        type: string
      - in: query
        name: year
        description: Year of invoice
        required: true
        type: string
      - in: query
        name: page
        type: number
        format: int64
      responses:
        '200':
          description: Invoices in a quarter of some year
          schema:
            type: array
            items:
              type: object
              properties:
                status:
                  type: string
                number:
                  type: string
                  x-omitempty: false
                invoiceId:
                  type: string
                customer:
                  type: string
  /tradesperson/{tradespersonId}/billing/invoice/pages:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: query
        name: quarter
        description: Quarter of the year
        required: true
        type: string
      - in: query
        name: year
        description: Year of invoice
        required: true
        type: string
      responses:
        '200':
          description: Number of invoices
          schema:
            type: number
            format: int64
  /tradesperson/{tradespersonId}/billing/invoice/{invoiceId}:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: Invoice
          schema:
            type: object
            properties:
              created:
                type: integer
                format: int64
              refunded:
                type: integer
                format: int64
              description:
                type: string
                x-omitempty: false
              total:
                type: integer
                format: int64
              status:
                type: string
              number:
                type: string
              url:
                type: string
              pdf:
                type: string
              service:
                type: object
                properties:
                  title:
                    type: string
                  description:
                    type: string
              customer:
                $ref: '#/definitions/Customer'
              timeSlot:
                type: object
                properties:
                  startTime:
                    type: string
                  endTime:
                    type: string
    put:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      - in: body
        name: body
        description: Invoice memo
        schema:
          type: object
          properties:
            description:
              type: string
      responses:
        '200':
          description: If invoice memo was updated
          schema:
            type: object
            properties:
              updated:
                type: boolean
                x-omitempty: false
    delete:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: If invoice deleted
          schema:
            type: object
            properties:
              deleted:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/invoice/{invoiceId}/finalize:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: If invoice was sent
          schema:
            type: object
            properties:
              finalized:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/invoice/{invoiceId}/void:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: If invoice voided
          schema:
            type: object
            properties:
              voided:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/invoice/{invoiceId}/uncollectible:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: If invoice was marked uncollectible
          schema:
            type: object
            properties:
              uncollectible:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/invoice/{invoiceId}/refund:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: If invoice refunded
          schema:
            type: object
            properties:
              refunded:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/quotes:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: query
        name: quarter
        description: Quarter of the year
        required: true
        type: string
      - in: query
        name: year
        description: Year of quote
        required: true
        type: string
      - in: query
        name: page
        type: integer
        format: int64
      responses:
        '200':
          description: quotes in a quarter of some year
          schema:
            type: array
            items:
              type: object
              properties:
                status:
                  type: string
                number:
                  type: string
                  x-omitempty: false
                quoteId:
                  type: string
                invoiceId:
                  type: string
                customer:
                  type: string
  /tradesperson/{tradespersonId}/billing/quote/pages:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: query
        name: quarter
        description: Quarter of the year
        required: true
        type: string
      - in: query
        name: year
        description: Year of quote
        required: true
        type: string
      responses:
        '200':
          description: Number of quote pages
          schema:
            type: number
            format: int64
  /tradesperson/{tradespersonId}/billing/quote/{quoteId}:
    get:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          required: true
          type: string
        - in: path
          name: quoteId
          required: true
          type: string
      responses:
        '200':
          description: Tradesperson quote service
          schema:
            $ref: '#/definitions/QuoteDetails'
    put:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          required: true
          type: string
        - in: path
          name: quoteId
          required: true
          type: string
        - in: body
          name: quote
          description: The quote to update.
          schema:
            type: object
            properties:
              description:
                type: string
              products:
                type: array
                items:
                  $ref: '#/definitions/Product'
      responses:
        '200':
          description: Updated quote
          schema:
            type: object
            properties:
              updated:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/quote/{quoteId}/cancel:
    post:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          required: true
          type: string
        - in: path
          name: quoteId
          required: true
          type: string
      responses:
        '200':
          description: Cancelled quote
          schema:
            type: object
            properties:
              canceled:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/quote/{quoteId}/finalize:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: quoteId
        description: Quote ID
        required: true
        type: string
      responses:
        '200':
          description: If quote was sent
          schema:
            type: object
            properties:
              finalized:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/quote/{quoteId}/revise:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: quoteId
        description: Quote ID
        required: true
        type: string
      responses:
        '200':
          description: If quote was revised
          schema:
            type: object
            properties:
              revised:
                type: boolean
                x-omitempty: false
              quoteId:
                type: string
  /tradesperson/{tradespersonId}/billing/quote/{quoteId}/invoice/{invoiceId}:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: quoteId
        description: Quote ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: Invoice
          schema:
            type: object
            properties:
              created:
                type: integer
                format: int64
              refunded:
                type: integer
                format: int64
              description:
                type: string
                x-omitempty: false
              total:
                type: integer
                format: int64
              status:
                type: string
              number:
                type: string
              url:
                type: string
              pdf:
                type: string
              customer:
                $ref: '#/definitions/Customer'
              products:
                type: array
                items:
                  $ref: '#/definitions/Product'
    put:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: quoteId
        description: Quote ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      - in: body
        name: body
        description: Invoice memo
        schema:
          type: object
          properties:
            description:
              type: string
      responses:
        '200':
          description: If invoice memo was updated
          schema:
            type: object
            properties:
              updated:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/quote/{quoteId}/invoice/{invoiceId}/finalize:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: quoteId
        description: Quote ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: If quote invoice was finalized
          schema:
            type: object
            properties:
              finalized:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/quote/{quoteId}/invoice/{invoiceId}/void:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: quoteId
        description: Quote ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: If invoice voided
          schema:
            type: object
            properties:
              voided:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/quote/{quoteId}/invoice/{invoiceId}/uncollectible:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: quoteId
        description: Quote ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: If invoice was marked uncollectible
          schema:
            type: object
            properties:
              uncollectible:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/quote/{quoteId}/invoice/{invoiceId}/refund:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: quoteId
        description: Quote ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: If invoice refunded
          schema:
            type: object
            properties:
              refunded:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/manual-invoices:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: query
        name: quarter
        description: Quarter of the year
        required: true
        type: string
      - in: query
        name: year
        description: Year of invoice
        required: true
        type: string
      - in: query
        name: page
        type: number
        format: int64
      responses:
        '200':
          description: Manual invoices in a quarter of some year
          schema:
            type: array
            items:
              type: object
              properties:
                status:
                  type: string
                number:
                  type: string
                  x-omitempty: false
                invoiceId:
                  type: string
                customer:
                  type: string
  /tradesperson/{tradespersonId}/billing/manual-invoice/pages:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: query
        name: quarter
        description: Quarter of the year
        required: true
        type: string
      - in: query
        name: year
        description: Year of invoice
        required: true
        type: string
      responses:
        '200':
          description: Number of manual invoices
          schema:
            type: number
            format: int64  
  /tradesperson/{tradespersonId}/billing/manual-invoice:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: body
        name: invoice
        description: Manual invoice to create
        required: True
        schema:
          type: object
          properties:
            cuStripeId:
              type: string
            description:
              type: string
            dueDate:
              type: string
            products:
              type: array
              items:
                $ref: '#/definitions/Product'
      responses:
        '200':
          description: If manual invoice refunded
          schema:
            type: object
            properties:
              created:
                type: boolean
                x-omitempty: false        
  /tradesperson/{tradespersonId}/billing/manual-invoice/{invoiceId}:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: Manual invoice
          schema:
            type: object
            properties:
              created:
                type: integer
                format: int64
              dueDate:
                type: integer
                format: int64
              refunded:
                type: integer
                format: int64
              description:
                type: string
                x-omitempty: false
              total:
                type: integer
                format: int64
              paid:
                type: boolean
                x-omitempty: false
              status:
                type: string
              number:
                type: string
              url:
                type: string
              pdf:
                type: string
              cost:
                type: array
                items:
                  $ref: '#/definitions/Product'
              customer:
                $ref: '#/definitions/Customer'
  /tradesperson/{tradespersonId}/billing/manual-invoice/{invoiceId}/void:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: If manual invoice voided
          schema:
            type: object
            properties:
              voided:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/manual-invoice/{invoiceId}/uncollectible:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: If manual invoice was marked uncollectible
          schema:
            type: object
            properties:
              uncollectible:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/manual-invoice/{invoiceId}/refund:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: If manual invoice refunded
          schema:
            type: object
            properties:
              refunded:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/subscriptions:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: query
        name: page
        type: integer
        format: int64
      responses:
        '200':
          description: Customers active, canceled, incomplete subscriptions
          schema:
            type: array
            items:
              type: object
              properties:
                stripeId:
                  type: string
                name:
                  type: string
                active:
                  type: integer
                  format: int64
                  x-omitempty: false
                canceled:
                  type: integer
                  format: int64
                  x-omitempty: false
                incomplete:
                  type: integer
                  format: int64
                  x-omitempty: false
  /tradesperson/{tradespersonId}/billing/subscription/pages:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      responses:
        '200':
          description: Number of subscription pages
          schema:
            type: number
            format: int64
  /tradesperson/{tradespersonId}/billing/customers:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      responses:
        '200':
          description: Customers that've done business
          schema:
            type: array
            items:
              $ref: '#/definitions/Customer'
  /profile/{vanityOrId}:
    get:
      parameters:
        - in: path
          name: vanityOrId
          description: Tradesperson vanity URL or ID
          required: true
          type: string
      responses:
        '200':
          description: A tradesperson
          schema:
            $ref: '#/definitions/Tradesperson'
  /profile/{vanityOrId}/fixed-prices:
    get:
      parameters:
        - in: path
          name: vanityOrId
          description: Tradesperson vanity URL or ID
          required: true
          type: string
        - in: query
          name: state
          type: string
          required: true
        - in: query
          name: city
          type: string
          required: true
      responses:
        '200':
          description: Tradesperson fixed-price services
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  /profile/{vanityOrId}/quotes:
    get:
      parameters:
        - in: path
          name: vanityOrId
          description: Tradesperson vanity URL or ID
          required: true
          type: string
        - in: query
          name: state
          type: string
          required: true
        - in: query
          name: city
          type: string
          required: true
      responses:
        '200':
          description: Tradesperson fixed-price services
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  /fixed-price/{priceId}:
    get:
      parameters:
      - in: path
        name: priceId
        description: Price ID
        required: true
        type: string
      - in: query
        name: state
        type: string
        required: true
      - in: query
        name: city
        type: string
        required: true
      responses:
        '200':
          description: Fixed Price Details
          schema:
            type: object
            properties:
              service:
                $ref: '#/definitions/ServiceDetails'
              business:
                type: object
                properties:
                  name:
                    type: string
                  vanityURL:
                    type: string
                    x-omitempty: false
                  tradespersonId:
                    type: string
  /fixed-price/{priceId}/reviews:
    get:
      parameters:
        - in: path
          name: priceId
          description: Fixed price ID with review
          required: true
          type: string
        - in: query
          name: page
          description: Page of reviews
          required: True
          type: integer
      responses:
        '200':
          description: List of reviews
          schema:
            type: object
            properties:
              oneStars:
                type: integer
                format: int64
                x-omitempty: false
              twoStars:
                type: integer
                format: int64
                x-omitempty: false
              threeStars:
                type: integer
                format: int64
                x-omitempty: false
              fourStars:
                type: integer
                format: int64
                x-omitempty: false
              fiveStars:
                type: integer
                format: int64
                x-omitempty: false
              reviews:
                type: array
                items:
                  type: object
                  properties:
                    customer:
                      type: string
                    rating:
                      type: integer
                      format: int64
                    message:
                      type: string
                    date:
                      type: string
                    responded:
                      type: boolean
                      x-omitempty: false
                    tradesperson:
                      type: string
                    respMsg:
                      type: string
                    respDate:
                      type: string
  /fixed-prices:
    get:
      parameters:
        - in: query
          name: state
          type: string
          required: true
        - in: query
          name: city
          type: string
          required: true
        - in: query
          name: category
          type: string
        - in: query
          name: subCategory
          type: string
        - in: query
          name: filters
          type: string
        - in: query
          name: page
          type: integer
          format: int64
      responses:
        '200':
          description: Tradesperson fixed-price services
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  /fixed-price/pages:
    get:
      parameters:
        - in: query
          name: state
          type: string
          required: true
        - in: query
          name: city
          type: string
          required: true
        - in: query
          name: category
          type: string
        - in: query
          name: subCategory
          type: string
        - in: query
          name: filters
          type: string
      responses:
        '200':
          description: Number of fixed prices
          schema:
            type: number
            format: int64
  /quote/{quoteId}:
    get:
      parameters:
      - in: path
        name: quoteId
        description: Quote ID
        required: true
        type: string
      - in: query
        name: state
        type: string
        required: true
      - in: query
        name: city
        type: string
        required: true
      responses:
        '200':
          description: Quote details
          schema:
            type: object
            properties:
              service:
                $ref: '#/definitions/ServiceDetails'
              business:
                type: object
                properties:
                  name:
                    type: string
                  vanityURL:
                    type: string
                    x-omitempty: false
                  tradespersonId:
                    type: string
  /quote/{quoteId}/reviews:
    get:
      parameters:
        - in: path
          name: quoteId
          description: Quote ID with review
          required: true
          type: string
        - in: query
          name: page
          description: Page of reviews
          required: True
          type: integer
      responses:
        '200':
          description: List of reviews
          schema:
            type: array
            items:
              type: object
              properties:
                rating:
                  type: integer
                  format: int64
                message:
                  type: string
                date:
                  type: string
                responded:
                  type: boolean
                  x-omitempty: false
                respMsg:
                  type: string
                respDate:
                  type: string
  /quotes:
    get:
      parameters:
        - in: query
          name: state
          type: string
          required: true
        - in: query
          name: city
          type: string
          required: true
        - in: query
          name: category
          type: string
        - in: query
          name: subCategory
          type: string
        - in: query
          name: filters
          type: string
        - in: query
          name: page
          type: number
          format: int64
      responses:
        '200':
          description: Tradesperson quote services
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  /quote/pages:
    get:
      parameters:
        - in: query
          name: state
          type: string
          required: true
        - in: query
          name: city
          type: string
          required: true
        - in: query
          name: category
          type: string
        - in: query
          name: subCategory
          type: string
        - in: query
          name: filters
          type: string
      responses:
        '200':
          description: Number of quote pages
          schema:
            type: number
            format: int64
  /customer/login:
    post:
      parameters:
        - in: body
          name: customer
          description: Log in to customer account.
          schema:
            type: object
            required:
              - email
              - password
            properties:
              email:
                type: string
                format: email
              password:
                type: string
      responses:
        '200':
          description: Valid email and password
          schema:
            type: object
            properties:
              valid:
                type: boolean
                x-omitempty: false
              customerId:
                type: string
              accessToken:
                type: string
              refreshToken:
                type: string
  /customer/{customerId}/logout:
    post:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: customerId
          description: Customer ID
          required: true
          type: string
      responses:
        '200':
          description: Log customer out
          schema:
            type: object
            properties:
              loggedOut:
                type: boolean
                x-omitempty: false
  /customer:
    post:
      parameters:
        - in: body
          name: customer
          description: The customer account to create.
          schema:
            type: object
            required:
              - name
              - email
              - password
              - number
              - address
            properties:
              name:
                type: string
              email:
                type: string
                format: email
              password:
                type: string
                format: password
              number:
                type: string
              address:
                $ref: '#/definitions/Address'
      responses:
        '201':
          description: Created customer account
          schema:
            type: object
            properties:
              created:
                type: boolean
                x-omitempty: false
              customerId:
                type: string
              accessToken:
                type: string
              refreshToken:
                type: string
  /customer/{customerId}:
    delete:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: customerId
          description: Customer ID
          required: true
          type: string
      responses:
        '200':
          description: Deleted customer account
          schema:
            type: object
            properties:
              deleted:
                type: boolean
                x-omitempty: false
              tradespeople:
                type: array
                items:
                  type: string
  /customer/{customerId}/access-token:
    get:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: customerId
          description: Customer ID
          required: true
          type: string
      responses:
        '200':
          description: A valid customer accessToken
          schema:
            type: object
            properties:
              valid:
                type: boolean
                x-omitempty: false
    post:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: customerId
          description: Tradesperson ID
          required: true
          type: string
      responses:
        '200':
          description: Valid email and password
          schema:
            type: object
            properties:
              refreshToken:
                type: string
              accessToken:
                type: string
  /customer/{customerId}/billing-link:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      responses:
        '200':
          description: Stripe billing link
          schema:
            type: object
            properties:
              url:
                type: string
  /customer/{customerId}/verify:
    get:
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      responses:
        '200':
          description: Verified customer account
          schema:
            type: object
            properties:
              verified:
                type: boolean
                x-omitempty: false
    post:
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      - in: body
        name: body
        description: The customer account to create.
        schema:
          type: object
          properties:
            accessToken:
              type: string
      responses:
        '200':
          description: Verified customer account
          schema:
            type: object
            properties:
              verified:
                type: boolean
                x-omitempty: false
  /customer/{customerId}/reverify:
    get:
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      responses:
        '200':
          description: Reverify customer account
  /customer/{customerId}/quote/{quoteId}/review:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      - in: path
        name: quoteId
        description: Quote with review
        required: true
        type: string
      responses:
        '200':
          description: Reviewed service
          schema:
            type: object
            properties:
              reviewed:
                type: boolean
                x-omitempty: false
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      - in: path
        name: quoteId
        description: Quote ID with review
        required: true
        type: string
      - in: body
        name: review
        description: The quote review to create.
        schema:
          type: object
          properties:
            message:
              type: string
            rating:
              type: integer
              format: int64
      responses:
        '200':
          description: Reviewed service
          schema:
            type: object
            properties:
              rated:
                type: boolean
                x-omitempty: false
  /customer/{customerId}/fixed-price/{priceId}/review:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      - in: path
        name: priceId
        description: Price ID with review
        required: true
        type: string
      responses:
        '200':
          description: Reviewed service
          schema:
            type: object
            properties:
              reviewed:
                type: boolean
                x-omitempty: false
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      - in: path
        name: priceId
        description: Price ID with review
        required: true
        type: string
      - in: body
        name: review
        description: The customer account to create.
        schema:
          type: object
          properties:
            message:
              type: string
            rating:
              type: integer
              format: int64
      responses:
        '200':
          description: Reviewed service
          schema:
            type: object
            properties:
              rated:
                type: boolean
                x-omitempty: false
  /customer/{customerId}/subscription/{priceId}/review:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      - in: path
        name: priceId
        description: Price ID with review
        required: true
        type: string
      responses:
        '200':
          description: Reviewed service
          schema:
            type: object
            properties:
              reviewed:
                type: boolean
                x-omitempty: false
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      - in: path
        name: priceId
        description: Price ID with review
        required: true
        type: string
      - in: body
        name: review
        description: The customer account to create.
        schema:
          type: object
          properties:
            message:
              type: string
            rating:
              type: integer
              format: int64
      responses:
        '200':
          description: Reviewed service
          schema:
            type: object
            properties:
              rated:
                type: boolean
                x-omitempty: false  
  /customer/{customerId}/fixed-price/{priceId}/book:
    post:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: customerId
          description: Customer ID
          required: true
          type: string
        - in: path
          name: priceId
          description: Price ID
          required: true
          type: string
        - in: body
          name: booking
          description: The time slots to book
          schema:
            type: object
            properties:
              timeSlots:
                type: array
                x-omitempty: false
                items:
                  $ref: '#/definitions/TimeSlot'
      responses:
        '201':
          description: If fixed price was booked
          schema:
            type: object
            properties:
              booked:
                type: boolean
                x-omitempty: false
  /customer/{customerId}/subscription/{priceId}/book:
    post:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: customerId
          description: Customer ID
          required: true
          type: string
        - in: path
          name: priceId
          description: Price ID
          required: true
          type: string
        - in: body
          name: booking
          description: The time slots to book
          schema:
            type: object
            properties:
              timeSlots:
                type: array
                x-omitempty: false
                items:
                  $ref: '#/definitions/TimeSlot'
      responses:
        '201':
          description: If fixed price was booked
          schema:
            type: object
            properties:
              booked:
                type: boolean
                x-omitempty: false
  /customer/{customerId}/payment/default:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      responses:
        '200':
          description: Customer default payment
          schema:
            type: object
            properties:
              defaultPayment:
                type: boolean
                x-omitempty: false
  /customer/{customerId}/quote/{quoteId}/request:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      - in: path
        name: quoteId
        description: Quote ID
        required: true
        type: string
      - in: body
        name: request
        description: The quote to request
        schema:
          type: object
          properties:
            message:
              type: string
            images:
              type: array
              items:
                type: string
      responses:
        '201':
          description: If quote request was created
          schema:
            type: object
            properties:
              requested:
                type: boolean
                x-omitempty: false
  /customer/{customerId}/quotes:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Tradesperson ID
        required: true
        type: string
      responses:
        '200':
          description: customer quotes
          schema:
            type: array
            items:
              type: object
              properties:
                status:
                  type: string
                number:
                  type: string
                  x-omitempty: false
                quoteId:
                  type: string
  /customer/{customerId}/quote/{quoteId}:
    get:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: customerId
          required: true
          type: string
        - in: path
          name: quoteId
          required: true
          type: string
      responses:
        '200':
          description: Customer quote service
          schema:
            type: object
            properties:
              created:
                type: integer
                format: int64
              status:
                type: string
              number:
                type: string
                x-omitempty: false
              description:
                type: string
                x-omitempty: false
              expires:
                type: integer
                format: int64
              tradesperson:
                $ref: '#/definitions/Tradesperson'
              request:
                type: string
              service:
                type: object
                properties:
                  title:
                    type: string
                  description:
                    type: string
                  products:
                    type: array
                    items:
                      $ref: '#/definitions/Product'
  /customer/{customerId}/quote/{quoteId}/accept:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      - in: path
        name: quoteId
        description: Quote ID
        required: true
        type: string
      responses:
        '200':
          description: If quote was accepted
          schema:
            type: object
            properties:
              accepted:
                type: boolean
                x-omitempty: false
definitions:
  Service:
    type: object
    properties:
      quoteId:
        type: string
      priceId:
        type: string
      tradespersonId:
        type: string
      business:
        type: string
      subscription:
        type: boolean
        x-omitempty: false
      interval:
        type: string
        x-omitempty: false
      price:
        type: number
      title:
        type: string
      image:
        type: string
      reviews:
        type: integer
        x-omitempty: false
      rating:
        type: number
        format: double
        x-omitempty: false
      availableTimeSlots:
        type: integer
        x-omitempty: false
      vanityURL:
        type: string
        x-omitempty: false
  ServiceDetails:
    type: object
    required:
      - category
      - title
      - description
      - images
      - selectPlaces
      - filters
    properties:
      id:
        type: integer
        format: int64
      quoteId:
        type: string
      priceId:
        type: string
      category:
        type: string
      subCategory:
        type: string
      title:
        type: string
      description:
        type: string
      reviews:
        type: integer
        x-omitempty: false
      rating:
        type: number
        format: double
        x-omitempty: false
      price:
        type: number
      images:
        type: array
        items:
          type: string
      subscription:
        type: boolean
        x-omitempty: false
      interval:
        type: string
        x-omitempty: false
      selectPlaces:
        type: boolean
        x-omitempty: false
      archived:
        type: boolean
        x-omitempty: false
      statesAndCities:
        type: array
        x-omitempty: false
        items:
          type: object
          properties:
            state:
              type: string
            cities:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
      timeSlots:
        type: array
        x-omitempty: false
        items:
          $ref: '#/definitions/TimeSlot'
      filters:
        type: array
        items:
          type: string
  QuoteDetails:
    type: object
    properties:
      created:
        type: integer
        format: int64
      status:
        type: string
      number:
        type: string
        x-omitempty: false
      description:
        type: string
        x-omitempty: false
      expires:
        type: integer
        format: int64
      invoiceId:
        type: string
        x-omitempty: false
      customer:
        $ref: '#/definitions/Customer'
      request:
        type: string
      service:
        type: object
        properties:
          title:
            type: string
          description:
            type: string
          products:
            type: array
            items:
              $ref: '#/definitions/Product'
  OtherServices:
    type: array
    items:
      type: object
      properties:
        subscription:
          type: boolean
          x-omitempty: false
        interval:
          type: string
        timeSlots:
          type: array
          x-omitempty: false
          items:
            $ref: '#/definitions/TimeSlot'
  TimeSlot:
    type: object
    properties:
      subscriptionId:
        type: string
      invoiceId:
        type: string
      startTime:
        type: string
      endTime:
        type: string
      futureTime:
        type: string
      segmentSize:
        type: string
      taken:
        type: boolean
        x-omitempty: false
      takenBy:
        type: string
        x-omitempty: false
      cuStripeId:
        type: string
  Tradesperson:
    type: object
    properties:
      name:
        type: string
      number:
        type: string
      address:
        $ref: '#/definitions/Address'
      description:
        type: string
        x-omitempty: false
      image:
        type: string
        x-omitempty: false
      email:
        type: string
      jobs:
        type: integer
        x-omitempty: false
      rating:
        type: integer
        x-omitempty: false
      reviews:
        type: integer
        x-omitempty: false
  Address:
    type: object
    properties:
      lineOne:
        type: string
      lineTwo:
        type: string
      zipCode:
        type: string
      city:
        type: string
      state:
        type: string
  Customer:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
      address:
        $ref: '#/definitions/Address'
      email:
        type: string
      phone:
        type: string
  Product:
    type: object
    properties:
      title:
        type: string
      quantity:
        type: integer
        format: int64
      price:
        type: integer
        format: int64