swagger: "2.0"
info:
  title: Redbud Way API
  description: API description in Markdown.
  version: 1.0.0
host: redbudway.com
basePath: /v1
schemes:
  - http

consumes:
  - application/json
produces:
  - application/json

securityDefinitions:  
   Bearer:    
     type: apiKey    
     name: Authorization    
     in: header

paths:
  /location:
    get:
      parameters:
        - in: query
          name: latitude
          type: string
          required: true
        - in: query
          name: longitude
          type: string
          required: true
      responses:
        '200':
          description: City and State of end user
          schema:
            type: object
            properties:
              city:
                type: string
                x-omitempty: false
              state:
                type: string
                x-omitempty: false
              timeZone:
                type: string
                x-omitempty: false
  /address:
    get:
      parameters:
        - in: query
          name: address
          type: string
          required: true
      responses:
        '200':
          description: City and State of end user
          schema:
            type: object
            properties:
              city:
                type: string
                x-omitempty: false
              state:
                type: string
                x-omitempty: false
              timeZone:
                type: string
                x-omitempty: false
  /forgot-password:
    get:
      parameters:
        - in: query
          name: email
          type: string
          required: true
        - in: query
          name: accountType
          type: string
          required: true
      responses:
        '200':
          description: Forgot password
  /reset-password:
    post:
      security:
        - Bearer: []
      parameters:
        - in: body
          name: user
          schema:
            type: object
            required:
              - password
            properties:
              password:
                type: string
      responses:
        '200':
          description: Reset password
          schema:
            type: object
            properties:
              updated:
                type: boolean
                x-omitempty: false
  /reset-email:
    post:
      security:
        - Bearer: []
      responses:
        '200':
          description: Reset email
          schema:
            type: object
            properties:
              reset:
                type: boolean
                x-omitempty: false
  /tradesperson/login:
    post:
      parameters:
        - in: body
          name: tradesperson
          description: Log in to tradesperson account.
          schema:
            type: object
            required:
              - email
              - password
            properties:
              email:
                type: string
                format: email
              password:
                type: string
      responses:
        '200':
          description: Valid email and password
          schema:
            type: object
            properties:
              valid:
                type: boolean
                x-omitempty: false
              tradespersonId:
                type: string
              accessToken:
                type: string
              refreshToken:
                type: string
              googleAccessToken:
                type: string
              expiresIn:
                type: number
              email:
                type: string
              picture:
                type: string
              admin:
                type: boolean
  /tradesperson/{tradespersonId}/logout:
    post:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          description: Tradesperson ID
          required: true
          type: string
      responses:
        '200':
          description: Log tradesperson out
          schema:
            type: object
            properties:
              loggedOut:
                type: boolean
                x-omitempty: false
  /tradesperson:
    post:
      parameters:
        - in: body
          name: tradesperson
          description: The tradesperson to create.
          schema:
            type: object
            required:
              - email
              - password
              - token
            properties:
              email:
                type: string
                format: email
              password:
                type: string
                format: password
              token:
                type: string
      responses:
        '201':
          description: Created tradesperson account
          schema:
            type: object
            properties:
              created:
                type: boolean
                x-omitempty: false
              url:
                type: string
              tradespersonId:
                type: string
              accessToken:
                type: string
              refreshToken:
                type: string
  /tradesperson/{tradespersonId}:
    get:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          description: Tradesperson ID
          required: true
          type: string
      responses:
        '200':
          description: Status of tradesperson stripe account
          schema:
            type: object
            properties:
              enabled:
                type: boolean
                x-omitempty: false
              submitted:
                type: boolean
                x-omitempty: false
    put:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        required: true
        type: string
      - in: body
        name: account
        description: The tradesperson account to update.
        schema:
          type: object
          properties:
            email:
              type: string
            curPassword:
              type: string
            newPassword:
              type: string
      responses:
        '200':
          description: Updated tradesperson account
          schema:
            type: object
            properties:
              updated:
                type: boolean
                x-omitempty: false
    delete:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      responses:
        '200':
          description: Deletes tradesperson account
          schema:
            type: object
            properties:
              deleted:
                type: boolean
                x-omitempty: false  
  /tradesperson/{tradespersonId}/profile:
    get:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          description: Tradesperson ID
          required: true
          type: string
      responses:
        '200':
          description: A tradesperson
          schema:
            $ref: '#/definitions/Tradesperson'
    put:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        required: true
        type: string
      - in: body
        name: tradesperson
        description: The tradesperson to update.
        schema:
          $ref: '#/definitions/Tradesperson'
      responses:
        '200':
          description: Updates tradesperson profile
          schema:
            type: object
            properties:
              updated:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/branding:
    get:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          description: Tradesperson ID
          required: true
          type: string
      responses:
        '200':
          description: A tradesperson
          schema:
            $ref: '#/definitions/Branding'
    put:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        required: true
        type: string
      - in: body
        name: branding
        description: The tradesperson branding to update.
        schema:
          $ref: '#/definitions/Branding'
      responses:
        '200':
          description: Updates tradesperson branding
          schema:
            type: object
            properties:
              updated:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/sync:
    get:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          description: Tradesperson ID
          required: true
          type: string
      responses:
        '200':
          description: Sync tradesperson business info
  /tradesperson/{tradespersonId}/access-token:
    get:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          description: Tradesperson ID
          required: true
          type: string
      responses:
        '200':
          description: A valid tradesperson accessToken
          schema:
            type: object
            properties:
              valid:
                type: boolean
                x-omitempty: false
    post:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          description: Tradesperson ID
          required: true
          type: string
      responses:
        '200':
          description: Valid email and password
          schema:
            type: object
            properties:
              refreshToken:
                type: string
              accessToken:
                type: string
  /tradesperson/{tradespersonId}/google-token:
    post:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          description: Tradesperson ID
          required: true
          type: string
        - in: body
          name: google
          description: The tradesperson google code.
          schema:
            type: object
            properties:
              code:
                type: string
      responses:
        '200':
          description: Valid google token
          schema:
            type: object
            properties:
              accessToken:
                type: string
              expiresIn:
                type: number
              email:
                type: string
              picture:
                type: string
    put:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          description: Tradesperson ID
          required: true
          type: string
        - in: body
          name: google
          description: The tradesperson google accessToken.
          schema:
            type: object
            required:
              - accessToken
            properties:
              accessToken:
                type: string
      responses:
        '200':
          description: Valid google token
          schema:
            type: object
            properties:
              accessToken:
                type: string
              expiresIn:
                type: number
              email:
                type: string
              picture:
                type: string
    delete:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          description: Tradesperson ID
          required: true
          type: string
        - in: query
          name: accessToken
          required: true
          type: string
      responses:
        '200':
          description: Revoked google token
          schema:
            type: object
            properties:
              revoked:
                type: boolean
  /tradesperson/{tradespersonId}/email:
    post:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          description: Tradesperson ID
          required: true
          type: string
        - in: body
          name: email
          description: The email request to send to tradesperson.
          schema:
            type: object
            required:
              - message
              - customerId
            properties:
              message:
                type: string
              priceId:
                type: string
              quoteId:
                type: string
              customerId:
                type: string
              images:
                type: array
                items:
                  type: string
      responses:
        '200':
          description: Email sent to tradesperson
          schema:
            type: object
            properties:
              sent:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/settings:
    get:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          description: Tradesperson ID
          required: true
          type: string
      responses:
        '200':
          description: A tradesperson settings
          schema:
            type: object
            properties:
              vanityURL:
                type: string
                x-omitempty: false
              displayEmail:
                type: boolean
                x-omitempty: false
              displayNumber:
                type: boolean
                x-omitempty: false
              displayAddress:
                type: boolean
                x-omitempty: false
              timeZone:
                type: string
    put:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        required: true
        type: string
      - in: body
        name: settings
        description: The tradesperson settings to update.
        schema:
          type: object
          properties:
            vanityURL:
              type: string
            displayEmail:
              type: boolean
              x-omitempty: false
            displayNumber:
              type: boolean
              x-omitempty: false
            displayAddress:
              type: boolean
              x-omitempty: false
      responses:
        '200':
          description: Updates tradesperson profile
          schema:
            type: object
            properties:
              updated:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/time-zone:
    put:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        required: true
        type: string
      - in: body
        name: settings
        description: The tradesperson timezone settings to update.
        schema:
          type: object
          properties:
            timeZone:
              type: string
      responses:
        '200':
          description: Updates tradesperson settings
          schema:
            type: object
            properties:
              updated:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/login-link:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      responses:
        '200':
          description: Stripe login link to dashboard
          schema:
            type: object
            properties:
              url:
                type: string
  /tradesperson/{tradespersonId}/onboard:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      responses:
        '200':
          description: Stripe onboarding URL
          schema:
            type: object
            properties:
              url:
                type: string
  /tradesperson/{tradespersonId}/schedule:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: query
        name: accessToken
        description: Google access token
        required: false
        type: string
      responses:
        '200':
          description: Tradesperson schedule
          schema:
            type: object
            properties:
              services:
                type: array
                x-omitempty: false
                items:
                  type: object
                  properties:
                    title:
                      type: string
                    subscription:
                      type: boolean
                      x-omitempty: false
                    interval:
                      type: string
                    price:
                      type: number
                      format: double
                      x-omitempty: false
                    timeSlots:
                      type: array
                      items:
                        type: object
                        properties:
                          startTime:
                            type: string
                          endTime:
                            type: string
                          customers:
                            type: array
                            x-omitempty: false
                            items:
                              type: object
                              properties:
                                info:
                                  $ref: '#/definitions/Customer'
                                quantity:
                                  type: integer
                                  format: int64
                                invoiceId:
                                  type: string
                                subscriptionId:
                                  type: string
                                status:
                                  type: string
                                stripeId:
                                  type: string
              googleTimeSlots:
                $ref: '#/definitions/GoogleTimeSlots'
  /tradesperson/{tradespersonId}/time-slots:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: query
        name: accessToken
        description: Access Token
        required: false
        type: string
      responses:
        '200':
          description: Service time slots
          schema:
            type: object
            properties:
              otherServices:
                $ref: '#/definitions/OtherServices'
              googleTimeSlots:
                $ref: '#/definitions/GoogleTimeSlots'
  /tradesperson/{tradespersonId}/services:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      responses:
        '200':
          description: Tradesperson services
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: string
                title:
                  type: string
                type:
                  type: string
                subscription:
                  type: boolean
                  x-omitempty: false
  /tradesperson/{tradespersonId}/fixed-prices:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: query
        name: page
        required: true
        type: number
        format: int64
      responses:
        '200':
          description: Tradesperson fixed-price services
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  /tradesperson/{tradespersonId}/fixed-price/pages:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      responses:
        '200':
          description: Number of fixed price pages
          schema:
            type: number
            format: int64
  /tradesperson/{tradespersonId}/fixed-price:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        required: true
        type: string
      - in: body
        name: fixedPrice
        description: The fixedPrice to create.
        schema:
          $ref: '#/definitions/ServiceDetails'
      responses:
        '201':
          description: Created fixed-price
          schema:
            type: object
            properties:
              created:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/fixed-price/{priceId}:
    get:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          required: true
          type: string
        - in: path
          name: priceId
          required: true
          type: string
        - in: query
          name: accessToken
          required: false
          type: string
      responses:
        '200':
          description: Tradesperson fixed-price services
          schema:
            type: object
            properties:
              fixedPrice:
                $ref: '#/definitions/ServiceDetails'
              otherServices:
                $ref: '#/definitions/OtherServices'
              googleTimeSlots:
                $ref: '#/definitions/GoogleTimeSlots'
    put:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          required: true
          type: string
        - in: path
          name: priceId
          required: true
          type: string
        - in: body
          name: fixedPrice
          description: The fixedPrice to update.
          schema:
            $ref: '#/definitions/ServiceDetails'
      responses:
        '200':
          description: Updated fixed-price
          schema:
            type: object
            properties:
              updated:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/fixed-price/review:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: body
        name: review
        description: The response to a review.
        schema:
          type: object
          required:
            - response
            - reviewId
          properties:
            response:
              type: string
            reviewId:
              type: integer
              format: int64
      responses:
        '200':
          description: Response to review
          schema:
            type: object
            properties:
              responded:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/fixed-price/reviews:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      responses:
        '200':
          description: Fixed-price reviews
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  format: int64
                rating:
                  type: integer
                message:
                  type: string
                date:
                  type: string
                customer:
                  type: string
  /tradesperson/{tradespersonId}/quotes:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: query
        name: page
        required: True
        type: number
        format: int64
      responses:
        '200':
          description: Tradesperson fixed-price services
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  /tradesperson/{tradespersonId}/quote/pages:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      responses:
        '200':
          description: Number of quote pages
          schema:
            type: number
            format: int64
  /tradesperson/{tradespersonId}/quote:
    post:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          required: true
          type: string
        - in: body
          name: quote
          description: The quote to create.
          schema:
            $ref: '#/definitions/ServiceDetails'
      responses:
        '201':
          description: Created quote
          schema:
            type: object
            properties:
              created:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/quote/{quoteId}:
    get:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          required: true
          type: string
        - in: path
          name: quoteId
          type: string
          required: true
      responses:
        '200':
          description: Tradesperson fixed-price services
          schema:
            $ref: '#/definitions/ServiceDetails'
    put:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          required: true
          type: string
        - in: path
          name: quoteId
          type: string
          required: true
        - in: body
          name: quote
          description: The quote to create.
          schema:
            $ref: '#/definitions/ServiceDetails'
      responses:
        '200':
          description: Created quote
          schema:
            type: object
            properties:
              updated:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/quote/review:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: body
        name: review
        description: The response to a review.
        schema:
          type: object
          required:
            - response
            - reviewId
          properties:
            response:
              type: string
            reviewId:
              type: integer
              format: int64
      responses:
        '200':
          description: Response to review
          schema:
            type: object
            properties:
              responded:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/quote/reviews:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      responses:
        '200':
          description: Quote reviews
          schema:
            type: array
            items:
              type: object
              properties:
                id:
                  type: integer
                  format: int64
                customer:
                  type: string
                rating:
                  type: integer
                message:
                  type: string
                date:
                  type: string
  /tradesperson/{tradespersonId}/billing/customer/{stripeId}/subscriptions:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: stripeId
        description: Customer stripe ID
        required: true
        type: string
      responses:
        '200':
          description: Customer subscriptions
          schema:
            type: object
            properties:
              name:
                type: string
              address:
                $ref: '#/definitions/Address'
              email:
                type: string
              phone:
                type: string
              subscriptions:
                type: array
                items:
                  type: object
                  properties:
                    title:
                      type: string
                    interval:
                      type: string
                    description:
                      type: string
                    total:
                      type: integer
                      format: int64
                    timeZone:
                      type: string
                    details:
                      type: array
                      items:
                        type: object
                        properties:
                          subscriptionId:
                            type: string
                          invoiceId:
                            type: string
                          status:
                            type: string
                          timeSlots:
                            type: array
                            x-omitempty: false
                            items:
                              $ref: '#/definitions/TimeSlot'
  /tradesperson/{tradespersonId}/billing/customer/{stripeId}/subscriptions/cancel:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: stripeId
        description: Customer stripe ID
        required: true
        type: string
      - in: body
        name: subscriptions
        description: The subscriptions to cancel.
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Canceled customer subscription
          schema:
            type: object
            properties:
              canceled:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/customer/{stripeId}/subscription/{subscriptionId}/invoice/{invoiceId}:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: stripeId
        description: Customer stripe ID
        required: true
        type: string
      - in: path
        name: subscriptionId
        description: Subscription ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: Latest invoice
          schema:
            type: object
            properties:
              timeZone:
                type: string
              interval:
                type: string
              created:
                type: integer
                format: int64
              description:
                type: string
              total:
                type: integer
                format: int64
              status:
                type: string
              refunded:
                type: integer
                format: int64
              number:
                type: string
              url:
                type: string
              pdf:
                type: string
              timeSlot:
                $ref: '#/definitions/TimeSlot'
              service:
                type: object
                properties:
                  title:
                    type: string
                  description:
                    type: string
              customer:
                $ref: '#/definitions/Customer'
  /tradesperson/{tradespersonId}/billing/customer/{stripeId}/subscription/{subscriptionId}/invoice/{invoiceId}/refund:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: stripeId
        description: Customer stripe ID
        required: true
        type: string
      - in: path
        name: subscriptionId
        description: Subscription ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: Refunded subscription
          schema:
            type: object
            properties:
              refunded:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/invoices:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: query
        name: quarter
        description: Quarter of the year
        required: true
        type: string
      - in: query
        name: year
        description: Year of invoice
        required: true
        type: string
      - in: query
        name: page
        type: number
        format: int64
      responses:
        '200':
          description: Invoices in a quarter of some year
          schema:
            type: array
            items:
              type: object
              properties:
                status:
                  type: string
                number:
                  type: string
                  x-omitempty: false
                invoiceId:
                  type: string
                customer:
                  type: string
  /tradesperson/{tradespersonId}/billing/invoice/pages:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: query
        name: quarter
        description: Quarter of the year
        required: true
        type: string
      - in: query
        name: year
        description: Year of invoice
        required: true
        type: string
      responses:
        '200':
          description: Number of invoices
          schema:
            type: number
            format: int64
  /tradesperson/{tradespersonId}/billing/invoice/{invoiceId}:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: Invoice
          schema:
            type: object
            properties:
              created:
                type: integer
                format: int64
              refunded:
                type: integer
                format: int64
              description:
                type: string
                x-omitempty: false
              total:
                type: integer
                format: int64
                x-omitempty: false
              status:
                type: string
              number:
                type: string
              url:
                type: string
              pdf:
                type: string
              timeZone:
                type: string
              service:
                type: object
                properties:
                  title:
                    type: string
                  description:
                    type: string
              customer:
                $ref: '#/definitions/Customer'
              timeSlot:
                type: object
                properties:
                  startTime:
                    type: string
                  endTime:
                    type: string
    put:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      - in: body
        name: body
        description: Invoice memo
        schema:
          type: object
          properties:
            description:
              type: string
      responses:
        '200':
          description: If invoice memo was updated
          schema:
            type: object
            properties:
              updated:
                type: boolean
                x-omitempty: false
    delete:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: If invoice deleted
          schema:
            type: object
            properties:
              deleted:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/invoice/{invoiceId}/finalize:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: If invoice was sent
          schema:
            type: object
            properties:
              finalized:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/invoice/{invoiceId}/void:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: If invoice voided
          schema:
            type: object
            properties:
              voided:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/invoice/{invoiceId}/uncollectible:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: If invoice was marked uncollectible
          schema:
            type: object
            properties:
              uncollectible:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/invoice/{invoiceId}/refund:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: If invoice refunded
          schema:
            type: object
            properties:
              refunded:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/quotes:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: query
        name: quarter
        description: Quarter of the year
        required: true
        type: string
      - in: query
        name: year
        description: Year of quote
        required: true
        type: string
      - in: query
        name: page
        type: integer
        format: int64
      responses:
        '200':
          description: quotes in a quarter of some year
          schema:
            type: array
            items:
              type: object
              properties:
                status:
                  type: string
                number:
                  type: string
                  x-omitempty: false
                quoteId:
                  type: string
                invoiceId:
                  type: string
                customer:
                  type: string
  /tradesperson/{tradespersonId}/billing/quote/pages:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: query
        name: quarter
        description: Quarter of the year
        required: true
        type: string
      - in: query
        name: year
        description: Year of quote
        required: true
        type: string
      responses:
        '200':
          description: Number of quote pages
          schema:
            type: number
            format: int64
  /tradesperson/{tradespersonId}/billing/quote/{quoteId}:
    get:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          required: true
          type: string
        - in: path
          name: quoteId
          required: true
          type: string
      responses:
        '200':
          description: Tradesperson quote service
          schema:
            $ref: '#/definitions/QuoteDetails'
    put:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          required: true
          type: string
        - in: path
          name: quoteId
          required: true
          type: string
        - in: body
          name: quote
          description: The quote to update.
          schema:
            type: object
            properties:
              description:
                type: string
              products:
                type: array
                items:
                  $ref: '#/definitions/Product'
      responses:
        '200':
          description: Updated quote
          schema:
            type: object
            properties:
              updated:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/quote/{quoteId}/cancel:
    post:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          required: true
          type: string
        - in: path
          name: quoteId
          required: true
          type: string
      responses:
        '200':
          description: Cancelled quote
          schema:
            type: object
            properties:
              canceled:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/quote/{quoteId}/finalize:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: quoteId
        description: Quote ID
        required: true
        type: string
      responses:
        '200':
          description: If quote was sent
          schema:
            type: object
            properties:
              finalized:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/quote/{quoteId}/revise:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: quoteId
        description: Quote ID
        required: true
        type: string
      responses:
        '200':
          description: If quote was revised
          schema:
            type: object
            properties:
              revised:
                type: boolean
                x-omitempty: false
              quoteId:
                type: string
  /tradesperson/{tradespersonId}/billing/quote/{quoteId}/pdf:
    get:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: tradespersonId
          required: true
          type: string
        - in: path
          name: quoteId
          required: true
          type: string
      produces:
        - application/pdf
      responses:
        '200':
          description: Quote pdf
          schema:
            type: file
  /tradesperson/{tradespersonId}/billing/quote/{quoteId}/invoice/{invoiceId}:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: quoteId
        description: Quote ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: Invoice
          schema:
            type: object
            properties:
              created:
                type: integer
                format: int64
              refunded:
                type: integer
                format: int64
              description:
                type: string
                x-omitempty: false
              total:
                type: integer
                format: int64
              status:
                type: string
              number:
                type: string
              url:
                type: string
              pdf:
                type: string
              customer:
                $ref: '#/definitions/Customer'
              products:
                type: array
                items:
                  $ref: '#/definitions/Product'
    put:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: quoteId
        description: Quote ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      - in: body
        name: body
        description: Invoice memo
        schema:
          type: object
          properties:
            description:
              type: string
      responses:
        '200':
          description: If invoice memo was updated
          schema:
            type: object
            properties:
              updated:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/quote/{quoteId}/invoice/{invoiceId}/finalize:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: quoteId
        description: Quote ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: If quote invoice was finalized
          schema:
            type: object
            properties:
              finalized:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/quote/{quoteId}/invoice/{invoiceId}/void:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: quoteId
        description: Quote ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: If invoice voided
          schema:
            type: object
            properties:
              voided:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/quote/{quoteId}/invoice/{invoiceId}/uncollectible:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: quoteId
        description: Quote ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: If invoice was marked uncollectible
          schema:
            type: object
            properties:
              uncollectible:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/quote/{quoteId}/invoice/{invoiceId}/refund:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: quoteId
        description: Quote ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: If invoice refunded
          schema:
            type: object
            properties:
              refunded:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/manual-invoices:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: query
        name: quarter
        description: Quarter of the year
        required: true
        type: string
      - in: query
        name: year
        description: Year of invoice
        required: true
        type: string
      - in: query
        name: page
        type: number
        format: int64
      responses:
        '200':
          description: Manual invoices in a quarter of some year
          schema:
            type: array
            items:
              type: object
              properties:
                status:
                  type: string
                number:
                  type: string
                  x-omitempty: false
                invoiceId:
                  type: string
                customer:
                  type: string
  /tradesperson/{tradespersonId}/billing/manual-invoice/pages:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: query
        name: quarter
        description: Quarter of the year
        required: true
        type: string
      - in: query
        name: year
        description: Year of invoice
        required: true
        type: string
      responses:
        '200':
          description: Number of manual invoices
          schema:
            type: number
            format: int64  
  /tradesperson/{tradespersonId}/billing/manual-invoice:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: body
        name: invoice
        description: Manual invoice to create
        required: True
        schema:
          type: object
          properties:
            cuStripeId:
              type: string
            description:
              type: string
            dueDate:
              type: string
            products:
              type: array
              items:
                $ref: '#/definitions/Product'
      responses:
        '200':
          description: If manual invoice refunded
          schema:
            type: object
            properties:
              created:
                type: boolean
                x-omitempty: false        
  /tradesperson/{tradespersonId}/billing/manual-invoice/{invoiceId}:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: Manual invoice
          schema:
            type: object
            properties:
              created:
                type: integer
                format: int64
              dueDate:
                type: integer
                format: int64
              refunded:
                type: integer
                format: int64
              description:
                type: string
                x-omitempty: false
              total:
                type: integer
                format: int64
                x-omitempty: false
              paid:
                type: boolean
                x-omitempty: false
              status:
                type: string
              number:
                type: string
              url:
                type: string
              pdf:
                type: string
              cost:
                type: array
                items:
                  $ref: '#/definitions/Product'
              customer:
                $ref: '#/definitions/Customer'
  /tradesperson/{tradespersonId}/billing/manual-invoice/{invoiceId}/void:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: If manual invoice voided
          schema:
            type: object
            properties:
              voided:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/manual-invoice/{invoiceId}/uncollectible:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: If manual invoice was marked uncollectible
          schema:
            type: object
            properties:
              uncollectible:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/manual-invoice/{invoiceId}/refund:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: invoiceId
        description: Invoice ID
        required: true
        type: string
      responses:
        '200':
          description: If manual invoice refunded
          schema:
            type: object
            properties:
              refunded:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/billing/subscriptions:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: query
        name: page
        type: integer
        format: int64
      responses:
        '200':
          description: Customers active, canceled, incomplete subscriptions
          schema:
            type: array
            items:
              type: object
              properties:
                stripeId:
                  type: string
                name:
                  type: string
                active:
                  type: integer
                  format: int64
                  x-omitempty: false
                canceled:
                  type: integer
                  format: int64
                  x-omitempty: false
                incomplete:
                  type: integer
                  format: int64
                  x-omitempty: false
  /tradesperson/{tradespersonId}/billing/subscription/pages:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      responses:
        '200':
          description: Number of subscription pages
          schema:
            type: number
            format: int64
  /tradesperson/{tradespersonId}/billing/customers:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      responses:
        '200':
          description: Customers that've done business
          schema:
            type: array
            items:
              $ref: '#/definitions/Customer'
  /tradesperson/{tradespersonId}/coupon:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: body
        name: coupon
        description: Coupon to create
        required: True
        schema:
          $ref: '#/definitions/Coupon'
      responses:
        '200':
          description: If coupon was created
          schema:
            type: object
            properties:
              created:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/coupon/{couponId}:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: couponId
        description: Coupon ID
        required: true
        type: string
      responses:
        '200':
          description: Coupon returned
          schema:
            $ref: '#/definitions/Coupon'
    put:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: couponId
        description: Coupon ID
        required: true
        type: string
      - in: body
        name: coupon
        description: Coupon to update
        required: True
        schema:
          type: object
          properties:
            name:
              type: string
              maxLength: 40
            services:
              type: array
              items:
                type: string
      responses:
        '200':
          description: If coupon was updated
          schema:
            type: object
            properties:
              updated:
                type: boolean
                x-omitempty: false
    delete:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: couponId
        description: Coupon ID
        required: true
        type: string
      responses:
        '200':
          description: If coupon was deleted
          schema:
            type: object
            properties:
              deleted:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/coupon/{couponId}/promo:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: couponId
        description: Coupon ID
        required: true
        type: string
      - in: body
        name: promo
        description: Promo to create
        required: True
        schema:
          $ref: '#/definitions/Promo'
      responses:
        '200':
          description: If promo was created
          schema:
            type: object
            properties:
              created:
                type: boolean
                x-omitempty: false
              promo:
                $ref: '#/definitions/Promo'
  /tradesperson/{tradespersonId}/promo/{promoId}:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: promoId
        description: Promo ID
        required: true
        type: string
      responses:
        '200':
          description: Promo
          schema:
            $ref: '#/definitions/Promo'
    put:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: promoId
        description: Promo ID
        required: true
        type: string
      - in: body
        name: promo
        description: Promo to update
        required: True
        schema:
          $ref: '#/definitions/Promo'
      responses:
        '200':
          description: If promo was updated
          schema:
            type: object
            properties:
              updated:
                type: boolean
                x-omitempty: false
    delete:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      - in: path
        name: promoId
        description: Promo ID
        required: true
        type: string
      responses:
        '200':
          description: If promo was deleted
          schema:
            type: object
            properties:
              deleted:
                type: boolean
                x-omitempty: false
  /tradesperson/{tradespersonId}/discounts:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: tradespersonId
        description: Tradesperson ID
        required: true
        type: string
      responses:
        '200':
          description: List of discounts
          schema:
            type: array
            items:
              $ref: '#/definitions/Coupon'
  /profile/{vanityOrId}:
    get:
      parameters:
        - in: path
          name: vanityOrId
          description: Tradesperson vanity URL or ID
          required: true
          type: string
      responses:
        '200':
          description: A tradesperson
          schema:
            $ref: '#/definitions/Tradesperson'
  /profile/{vanityOrId}/fixed-prices:
    get:
      parameters:
        - in: path
          name: vanityOrId
          description: Tradesperson vanity URL or ID
          required: true
          type: string
      responses:
        '200':
          description: Tradesperson fixed-price services
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  /profile/{vanityOrId}/quotes:
    get:
      parameters:
        - in: path
          name: vanityOrId
          description: Tradesperson vanity URL or ID
          required: true
          type: string
      responses:
        '200':
          description: Tradesperson fixed-price services
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  /fixed-price/{priceId}:
    get:
      parameters:
      - in: path
        name: priceId
        description: Price ID
        required: true
        type: string
      responses:
        '200':
          description: Fixed Price Details
          schema:
            type: object
            properties:
              service:
                $ref: '#/definitions/ServiceDetails'
              business:
                $ref: '#/definitions/Business'
  /fixed-price/{priceId}/reviews:
    get:
      parameters:
        - in: path
          name: priceId
          description: Fixed price ID with review
          required: true
          type: string
        - in: query
          name: page
          description: Page of reviews
          required: True
          type: integer
      responses:
        '200':
          description: List of reviews
          schema:
            type: object
            properties:
              oneStars:
                type: integer
                format: int64
                x-omitempty: false
              twoStars:
                type: integer
                format: int64
                x-omitempty: false
              threeStars:
                type: integer
                format: int64
                x-omitempty: false
              fourStars:
                type: integer
                format: int64
                x-omitempty: false
              fiveStars:
                type: integer
                format: int64
                x-omitempty: false
              reviews:
                type: array
                items:
                  type: object
                  properties:
                    customer:
                      type: string
                    rating:
                      type: integer
                      format: int64
                    message:
                      type: string
                    date:
                      type: string
                    responded:
                      type: boolean
                      x-omitempty: false
                    tradesperson:
                      type: string
                    respMsg:
                      type: string
                    respDate:
                      type: string
  /fixed-prices:
    get:
      parameters:
        - in: query
          name: state
          type: string
        - in: query
          name: city
          type: string
        - in: query
          name: category
          type: string
        - in: query
          name: subCategory
          type: string
        - in: query
          name: specialties
          type: string
        - in: query
          name: page
          type: integer
          format: int64
        - in: query
          name: max
          type: integer
          format: int64
        - in: query
          name: min
          type: integer
          format: int64
        - in: query
          name: fromDate
          type: string
        - in: query
          name: toDate
          type: string
        - in: query
          name: sort
          type: string          
      responses:
        '200':
          description: Tradesperson fixed-price services
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  /fixed-price/pages:
    get:
      parameters:
        - in: query
          name: state
          type: string
        - in: query
          name: city
          type: string
        - in: query
          name: category
          type: string
        - in: query
          name: subCategory
          type: string
        - in: query
          name: specialties
          type: string
        - in: query
          name: max
          type: integer
          format: int64
        - in: query
          name: min
          type: integer
          format: int64
        - in: query
          name: fromDate
          type: string
        - in: query
          name: toDate
          type: string  
      responses:
        '200':
          description: Number of fixed prices
          schema:
            type: number
            format: int64
  /quote/{quoteId}:
    get:
      parameters:
      - in: path
        name: quoteId
        description: Quote ID
        required: true
        type: string
      responses:
        '200':
          description: Quote details
          schema:
            type: object
            properties:
              service:
                $ref: '#/definitions/ServiceDetails'
              business:
                $ref: '#/definitions/Business'
  /quote/{quoteId}/reviews:
    get:
      parameters:
        - in: path
          name: quoteId
          description: Quote ID with review
          required: true
          type: string
        - in: query
          name: page
          description: Page of reviews
          required: True
          type: integer
      responses:
        '200':
          description: List of reviews
          schema:
            type: object
            properties:
              oneStars:
                type: integer
                format: int64
                x-omitempty: false
              twoStars:
                type: integer
                format: int64
                x-omitempty: false
              threeStars:
                type: integer
                format: int64
                x-omitempty: false
              fourStars:
                type: integer
                format: int64
                x-omitempty: false
              fiveStars:
                type: integer
                format: int64
                x-omitempty: false
              reviews:
                type: array
                items:
                  type: object
                  properties:
                    customer:
                      type: string
                    rating:
                      type: integer
                      format: int64
                    message:
                      type: string
                    date:
                      type: string
                    responded:
                      type: boolean
                      x-omitempty: false
                    tradesperson:
                      type: string
                    respMsg:
                      type: string
                    respDate:
                      type: string
  /quotes:
    get:
      parameters:
        - in: query
          name: state
          type: string
        - in: query
          name: city
          type: string
        - in: query
          name: category
          type: string
        - in: query
          name: subCategory
          type: string
        - in: query
          name: specialties
          type: string
        - in: query
          name: page
          type: number
          format: int64
      responses:
        '200':
          description: Tradesperson quote services
          schema:
            type: array
            items:
              $ref: '#/definitions/Service'
  /quote/pages:
    get:
      parameters:
        - in: query
          name: state
          type: string
        - in: query
          name: city
          type: string
        - in: query
          name: category
          type: string
        - in: query
          name: subCategory
          type: string
        - in: query
          name: specialties
          type: string
      responses:
        '200':
          description: Number of quote pages
          schema:
            type: number
            format: int64
  /customer/login:
    post:
      parameters:
        - in: body
          name: customer
          description: Log in to customer account.
          schema:
            type: object
            required:
              - email
              - password
            properties:
              email:
                type: string
                format: email
              password:
                type: string
      responses:
        '200':
          description: Valid email and password
          schema:
            type: object
            properties:
              valid:
                type: boolean
                x-omitempty: false
              customerId:
                type: string
              accessToken:
                type: string
              refreshToken:
                type: string
  /customer/{customerId}/logout:
    post:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: customerId
          description: Customer ID
          required: true
          type: string
      responses:
        '200':
          description: Log customer out
          schema:
            type: object
            properties:
              loggedOut:
                type: boolean
                x-omitempty: false
  /customer:
    post:
      parameters:
        - in: body
          name: customer
          description: The customer account to create.
          schema:
            type: object
            required:
              - name
              - email
              - password
              - number
              - address
            properties:
              name:
                type: string
              email:
                type: string
                format: email
              password:
                type: string
                format: password
              number:
                type: string
              address:
                $ref: '#/definitions/Address'
      responses:
        '201':
          description: Created customer account
          schema:
            type: object
            properties:
              created:
                type: boolean
                x-omitempty: false
              customerId:
                type: string
              accessToken:
                type: string
              refreshToken:
                type: string
  /customer/{customerId}:
    delete:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: customerId
          description: Customer ID
          required: true
          type: string
      responses:
        '200':
          description: Deleted customer account
          schema:
            type: object
            properties:
              deleted:
                type: boolean
                x-omitempty: false
              tradespeople:
                type: array
                items:
                  type: string
    put:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        required: true
        type: string
      - in: body
        name: account
        description: The customer account to update.
        schema:
          type: object
          properties:
            curPassword:
              type: string
            newPassword:
              type: string
      responses:
        '200':
          description: Updated customer account
          schema:
            type: object
            properties:
              updated:
                type: boolean
                x-omitempty: false
  /customer/{customerId}/access-token:
    get:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: customerId
          description: Customer ID
          required: true
          type: string
      responses:
        '200':
          description: A valid customer accessToken
          schema:
            type: object
            properties:
              valid:
                type: boolean
                x-omitempty: false
    post:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: customerId
          description: Tradesperson ID
          required: true
          type: string
      responses:
        '200':
          description: Valid email and password
          schema:
            type: object
            properties:
              refreshToken:
                type: string
              accessToken:
                type: string
  /customer/{customerId}/billing-link:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      responses:
        '200':
          description: Stripe billing link
          schema:
            type: object
            properties:
              url:
                type: string
  /customer/{customerId}/verify:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      responses:
        '200':
          description: Verified customer account
          schema:
            type: object
            properties:
              verified:
                type: boolean
                x-omitempty: false
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      responses:
        '200':
          description: Verified customer account
          schema:
            type: object
            properties:
              verified:
                type: boolean
                x-omitempty: false
  /customer/{customerId}/reverify:
    get:
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      responses:
        '200':
          description: Reverify customer account
  /customer/{customerId}/quote/{quoteId}/review:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      - in: path
        name: quoteId
        description: Quote with review
        required: true
        type: string
      responses:
        '200':
          description: Reviewed service
          schema:
            type: object
            properties:
              reviewed:
                type: boolean
                x-omitempty: false
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      - in: path
        name: quoteId
        description: Quote ID with review
        required: true
        type: string
      - in: body
        name: review
        description: The quote review to create.
        schema:
          type: object
          properties:
            message:
              type: string
            rating:
              type: integer
              format: int64
      responses:
        '200':
          description: Reviewed service
          schema:
            type: object
            properties:
              rated:
                type: boolean
                x-omitempty: false
  /customer/{customerId}/fixed-price/{priceId}/review:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      - in: path
        name: priceId
        description: Price ID with review
        required: true
        type: string
      responses:
        '200':
          description: Reviewed service
          schema:
            type: object
            properties:
              reviewed:
                type: boolean
                x-omitempty: false
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      - in: path
        name: priceId
        description: Price ID with review
        required: true
        type: string
      - in: body
        name: review
        description: The customer account to create.
        schema:
          type: object
          properties:
            message:
              type: string
            rating:
              type: integer
              format: int64
      responses:
        '200':
          description: Reviewed service
          schema:
            type: object
            properties:
              rated:
                type: boolean
                x-omitempty: false
  /customer/{customerId}/subscription/{priceId}/review:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      - in: path
        name: priceId
        description: Price ID with review
        required: true
        type: string
      responses:
        '200':
          description: Reviewed service
          schema:
            type: object
            properties:
              reviewed:
                type: boolean
                x-omitempty: false
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      - in: path
        name: priceId
        description: Price ID with review
        required: true
        type: string
      - in: body
        name: review
        description: The customer account to create.
        schema:
          type: object
          properties:
            message:
              type: string
            rating:
              type: integer
              format: int64
      responses:
        '200':
          description: Reviewed service
          schema:
            type: object
            properties:
              rated:
                type: boolean
                x-omitempty: false  
  /customer/{customerId}/fixed-price/{priceId}/book:
    post:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: customerId
          description: Customer ID
          required: true
          type: string
        - in: path
          name: priceId
          description: Price ID
          required: true
          type: string
        - in: body
          name: booking
          description: The time slots to book
          schema:
            type: object
            properties:
              timeZone:
                type: string
              timeSlots:
                type: array
                minItems: 1
                x-omitempty: false
                items:
                  $ref: '#/definitions/TimeSlot'
              form:
                type: array
                x-omitempty: false
                items:
                  $ref: '#/definitions/FormFields'
              code:
                type: string
      responses:
        '201':
          description: If fixed price was booked
          schema:
            type: object
            properties:
              booked:
                type: boolean
                x-omitempty: false
  /customer/{customerId}/subscription/{priceId}/book:
    post:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: customerId
          description: Customer ID
          required: true
          type: string
        - in: path
          name: priceId
          description: Price ID
          required: true
          type: string
        - in: body
          name: booking
          description: The time slots to book
          schema:
            type: object
            properties:
              timeZone:
                type: string
              timeSlots:
                type: array
                minItems: 1
                x-omitempty: false
                items:
                  $ref: '#/definitions/TimeSlot'
              form:
                type: array
                x-omitempty: false
                items:
                  $ref: '#/definitions/FormFields'
              code:
                type: string
      responses:
        '201':
          description: If fixed price was booked
          schema:
            type: object
            properties:
              booked:
                type: boolean
                x-omitempty: false
  /customer/{customerId}/payment/default:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      responses:
        '200':
          description: Customer default payment
          schema:
            type: object
            properties:
              defaultPayment:
                type: boolean
                x-omitempty: false
  /customer/{customerId}/quote/{quoteId}/request:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      - in: path
        name: quoteId
        description: Quote ID
        required: true
        type: string
      - in: body
        name: request
        description: The quote to request
        schema:
          type: object
          properties:
            message:
              type: string
            images:
              type: array
              items:
                type: string
      responses:
        '201':
          description: If quote request was created
          schema:
            type: object
            properties:
              requested:
                type: boolean
                x-omitempty: false
  /customer/{customerId}/quotes:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Tradesperson ID
        required: true
        type: string
      responses:
        '200':
          description: customer quotes
          schema:
            type: array
            items:
              type: object
              properties:
                status:
                  type: string
                number:
                  type: string
                  x-omitempty: false
                quoteId:
                  type: string
  /customer/{customerId}/quote/{quoteId}:
    get:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: customerId
          required: true
          type: string
        - in: path
          name: quoteId
          required: true
          type: string
      responses:
        '200':
          description: Customer quote service
          schema:
            type: object
            properties:
              created:
                type: integer
                format: int64
              status:
                type: string
              number:
                type: string
                x-omitempty: false
              description:
                type: string
                x-omitempty: false
              expires:
                type: integer
                format: int64
              tradesperson:
                $ref: '#/definitions/Tradesperson'
              request:
                type: string
              service:
                type: object
                properties:
                  title:
                    type: string
                  description:
                    type: string
                  products:
                    type: array
                    items:
                      $ref: '#/definitions/Product'
  /customer/{customerId}/quote/{quoteId}/accept:
    post:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      - in: path
        name: quoteId
        description: Quote ID
        required: true
        type: string
      responses:
        '200':
          description: If quote was accepted
          schema:
            type: object
            properties:
              accepted:
                type: boolean
                x-omitempty: false
  /customer/{customerId}/bookings:
    get:
      security:
        - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      responses:
        '200':
          description: customer quotes
          schema:
            type: array
            items:
              type: object
              properties:
                status:
                  type: string
                number:
                  type: string
                  x-omitempty: false
                quoteId:
                  type: string 
  /customer/{customerId}/promo:
    get:
      security:
      - Bearer: []
      parameters:
      - in: path
        name: customerId
        description: Customer ID
        required: true
        type: string
      - in: query
        name: code
        type: string
        required: true
      - in: query
        name: priceId
        type: string
        required: true
      responses:
        '200':
          description: A discount amount
          schema:
            type: object
            properties:
              valid:
                type: boolean
                x-omitempty: false
              code:
                type: string
              type:
                type: string
              amount:
                type: number
              percent:
                type: number
                format: double
              duration:
                type: string
              months:
                type: integer
                format: int64
              couponId:
                type: string
  /admin/{adminId}/tradespeople:
    get:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: adminId
          description: Admin ID
          required: true
          type: string
      responses:
        '200':
          description: A list of tradespeople
          schema:
            type: array
            items:
              type: object
              properties:
                image:
                  type: string
                email:
                  type: string
                name:
                  type: string
                tradespersonId:
                  type: string
  /admin/{adminId}/access-token:
    get:
      security:
        - Bearer: []
      parameters:
        - in: path
          name: adminId
          description: Admin ID
          required: true
          type: string
      responses:
        '200':
          description: A valid admin accessToken
          schema:
            type: object
            properties:
              valid:
                type: boolean
                x-omitempty: false
definitions:
  Service:
    type: object
    properties:
      quoteId:
        type: string
      priceId:
        type: string
      tradespersonId:
        type: string
      subscription:
        type: boolean
        x-omitempty: false
      interval:
        type: string
        x-omitempty: false
      price:
        type: number
        x-omitempty: false
      title:
        type: string
      description:
        type: string
      image:
        type: string
      reviews:
        type: integer
        x-omitempty: false
      rating:
        type: number
        format: double
        x-omitempty: false
      availableTimeSlots:
        type: integer
        x-omitempty: false
      archived:
        type: boolean
        x-omitempity: false
      jobs:
        type: integer
        x-omitempty: false
      repeat:
        type: integer
        x-omitempty: false
      business:
        $ref: '#/definitions/Business'
  ServiceDetails:
    type: object
    required:
      - category
      - title
      - description
      - images
      - selectPlaces
      - specialties
    properties:
      id:
        type: integer
        format: int64
      quoteId:
        type: string
      priceId:
        type: string
      category:
        type: string
      subCategory:
        type: string
      title:
        type: string
      description:
        type: string
      reviews:
        type: integer
        x-omitempty: false
      rating:
        type: number
        format: double
        x-omitempty: false
      price:
        type: number
        x-omitempty: false
      images:
        type: array
        items:
          type: string
      subscription:
        type: boolean
        x-omitempty: false
      interval:
        type: string
        x-omitempty: false
      selectPlaces:
        type: boolean
        x-omitempty: false
      archived:
        type: boolean
        x-omitempty: false
      timeZone:
        type: boolean
        x-omitempty: false
      statesAndCities:
        type: array
        x-omitempty: false
        items:
          type: object
          properties:
            state:
              type: string
            cities:
              type: array
              items:
                type: object
                properties:
                  name:
                    type: string
      timeSlots:
        type: array
        x-omitempty: false
        items:
          $ref: '#/definitions/TimeSlot'
      specialties:
        type: array
        items:
          type: string
      includes:
        type: array
        items:
          type: string
      excludes:
        type: array
        items:
          type: string
      jobs:
        type: integer
        x-omitempty: false
      repeat:
        type: integer
        x-omitempty: false
      form:
        type: array
        x-omitempty: false
        items:
          $ref: '#/definitions/FormFields'
  QuoteDetails:
    type: object
    properties:
      created:
        type: integer
        format: int64
      status:
        type: string
      pdf:
        type: string
      number:
        type: string
        x-omitempty: false
      description:
        type: string
        x-omitempty: false
      expires:
        type: integer
        format: int64
      invoiceId:
        type: string
        x-omitempty: false
      customer:
        $ref: '#/definitions/Customer'
      request:
        type: string
      images:
        type: array
        items:
          type: string
      service:
        type: object
        properties:
          title:
            type: string
          description:
            type: string
          products:
            type: array
            items:
              $ref: '#/definitions/Product'
  OtherServices:
    type: array
    items:
      type: object
      properties:
        subscription:
          type: boolean
          x-omitempty: false
        interval:
          type: string
        timeSlots:
          type: array
          x-omitempty: false
          items:
            $ref: '#/definitions/TimeSlot'
  TimeSlot:
    type: object
    properties:
      id:
        type: integer
        format: int64
      startTime:
        type: string
      endTime:
        type: string
      anchorDate:
        type: integer
        format: int64
      bookings:
        type: integer
        format: int64
        x-omitempty: false
      booked:
        type: integer
        format: int64
        x-omitempty: false
      quantity:
        type: integer
        format: int64
      customers:
        type: array
        items:
          type: object
          properties:
            invoiceId:
              type: string
            subscriptionId:
              type: string
            cuStripeId:
              type: string
  Tradesperson:
    type: object
    properties:
      name:
        type: string
      number:
        type: string
      address:
        $ref: '#/definitions/Address'
      description:
        type: string
        x-omitempty: false
      image:
        type: string
        x-omitempty: false
      email:
        type: string
      jobs:
        type: integer
        x-omitempty: false
      repeat:
        type: integer
        x-omitempty: false
      rating:
        type: integer
        x-omitempty: false
      reviews:
        type: integer
        x-omitempty: false
  Address:
    type: object
    properties:
      lineOne:
        type: string
      lineTwo:
        type: string
      zipCode:
        type: string
      city:
        type: string
      state:
        type: string
  Customer:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
      address:
        $ref: '#/definitions/Address'
      email:
        type: string
      phone:
        type: string
  Product:
    type: object
    properties:
      title:
        type: string
      quantity:
        type: integer
        format: int64
      price:
        type: integer
        format: int64
        x-omitempty: false
  GoogleTimeSlots:
    type: array
    items:
      type: object
      properties:
        title:
          type: string
        startTime:
          type: string
        endTime:
          type: string
        recurrence:
          type: string
        timeZone:
          type: string
  FormFields:
    type: array
    items:
      type: object
      properties:
        field:
          type: string
        value:
          type: string
          x-omitempty: false
        error:
          type: string
          x-omitempty: false
        type:
          type: string
        options:
          type: array
          items:
            type: object
            properties:
              value:
                type: string
  Branding:
    type: object
    properties:
      logo:
        type: string
      icon:
        type: string
      primary:
        type: string
      secondary:
        type: string
  Business:
    type: object
    properties:
      name:
        type: string
      icon:
        type: string
      vanityURL:
        type: string
      tradespersonId:
        type: string
      timeZone:
        type: string
  Coupon:
    type: object
    properties:
      id:
        type: string
      name:
        type: string
        maxLength: 40
[...]
